<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath*:properties/*.properties"></context:property-placeholder>
	<!-- 定义服务名称: 自定义,唯一标识一个服务,以便于进行服务治理 -->
	<dubbo:application name="pay-service" />
	
	<!-- 服务注册地址: multicast : 广播地址 zookeeper: zookeeper注册中心地址 -->
	<dubbo:registry address="zookeeper://192.168.12.168:2181" />
	
	<!-- 对外暴露服务地址端口 地址:dubbo://ip:20880/接口/方法/.. -->
	<dubbo:protocol name="dubbo" port="20886" />
	
	<!-- 把对象注册到zookeeper注册中心 : dubbox -->
	<dubbo:annotation package="com.pyg.pay.service.impl" />

	<bean id="idWorker" class="com.pyg.utils.IdWorker">
		<!-- 进程ID -->
		<constructor-arg index="0" value="0"></constructor-arg>
		<!-- 数据中心ID -->
		<constructor-arg index="1" value="0"></constructor-arg>
	</bean>

</beans>